.path-local-gradebook h2 {
    font-size: 36px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.gradebook .course-level1-sections {
    margin: 0;
}
.gradebook .course-level1-sections li {
    background-color: #f4f4f4;
    color: #003370;
    letter-spacing: 1px;
    padding: 18px 25px 18px 25px;
    position: relative;
}

.gradebook .course-level1-sections li .section-header {
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    font: 100 20px/25px Helvetica;
}

.gradebook .course-level1-sections li.active .section-header {
    font-weight: bold;
}

.gradebook .course-level1-sections li:nth-child(2n) {
    background-color: #fbfbfb;
}

.gradebook .course-level1-sections li .active {
    font-weight: 600;
}
.gradebook .course-level1-sections li .toggler {
    font-size: 32px;
    left: 5px;
    line-height: 25px;
    position: absolute;
    top: -5px;
}

.gradebook .course-level1-sections li.active .toggler {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gradebook .course-level1-sections li .section-counter {
    margin-right: 8px;
}

.gradebook .course-level1-sections li div.course-level2-sections{
    border-top: 2px solid #c5c1bf;
    margin-top: 35px;
    margin-left: 40px;
    display: none;
}
.gradebook .course-level1-sections li.active div.course-level2-sections{
    /*display: block;*/
}
.gradebook .course-level1-sections li table.course-level2-sections{
    width: 100%;
}

table.course-level2-sections th {
    color: #003370;
    font: 600 12px HelveticaNeue;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    width: 15%;
    padding: 10px 0 15px;
}

table.course-level2-sections th.name {
    width: 45%;
    text-align: left;
}

table.course-level2-sections td {
    padding: 7px 0;
}

table.course-level2-sections td.section-level2 {
    color: #595657;
    font: italic 15px/17px HelveticaNeue;
    padding: 15px 0 5px;
}
table.course-level2-sections td.section-level3 {
    color: #6c6b6b;
    font: 14px/17px HelveticaNeue;
    padding-left: 30px;
    text-transform: uppercase;
}
table.course-level2-sections tr.quiz-row td {
    color: #595657;
    font: 15px/17px HelveticaNeue;
    text-align: center;
}
table.course-level2-sections tr.quiz-row.last-row td {
    padding-bottom: 10px
}
table.course-level2-sections tr.quiz-row td.name{
    font-weight: bold;
    padding-left: 30px;
    letter-spacing: 1.5px;
    text-align: left;
}
table.course-level2-sections tr.quiz-row td.name a{
    color: #595657;
}
table.course-level2-sections tr.quiz-row td.name a:hover{
    text-decoration: underline;
}
table.course-level2-sections tr.quiz-row td.grade {
    font-weight: bold;
}

@media (max-width: 450px) {
    .gradebook .course-level1-sections li {
        padding: 10px;
    }
    .gradebook .course-level1-sections li .section-header {
        padding-left: 25px;
        font-size: 16px;
    }
    .gradebook .course-level1-sections li .toggler {
        font-size: 21px;
        top: -1px;
    }
    .gradebook .course-level1-sections li div.course-level2-sections {
        margin-left: 0;
        margin-top: 8px;
    }
    table.course-level2-sections td.section-level2, 
    table.course-level2-sections td.section-level3, 
    table.course-level2-sections tr.quiz-row td{
        font-size:13px;
        font-weight: 15px;
    }
    table.course-level2-sections td.section-level3,
    table.course-level2-sections tr.quiz-row td.name{
        padding-left: 15px;
    }
    table.course-level2-sections td {
        padding: 5px 0;
    }
    table.course-level2-sections th {
        padding: 10px 0 0;
        font-size: 11px;
    }
}

